---
import aboutHeader from "../../assets/img/aboutheader.jpg";
---

<header
  class="relative h-[70vh] md:h-screen bg-cover bg-center"
  style={{ backgroundImage: `url(${aboutHeader.src})` }}
>
  <div class="absolute inset-0 bg-black/50"></div>

  <div
    class="relative z-10 flex flex-col items-center justify-center h-full text-center px-4"
  >
    <h1 class="text-4xl md:text-7xl font-bold text-white tracking-wide">
      About us
    </h1>
  </div>
</header>
